<div class="container">
<div class="mt-5">
  <h1 class="texto">PROYECTOS</h1>
</div>
<div class="row container mt-5 text-center">
<div class="col-4">  
  <div class="card mb-3" style="width: 18rem;">
     <%=image_tag 'cv.png'%>
      <div class="card-body">
        <h5 class="card-title">Curriculum Vitae</h5>
        <p class="card-text">Primeros pasos en el desarrollo web. Primer trabajo en html</p>
        <a href="#" class="btn btn-primary button">Ver m치s</a>
      </div>
  </div>
</div>
<div class="col-4">
  <div class="card mb-3" style="width: 18rem;">
    <%= image_tag 'suricata.png'%>
    <div class="card-body">
      <h5 class="card-title">Suricata</h5>
      <p class="card-text">Avances en el desarrollo WEB (herramientas usadas en este proyecto bootstrap, CSS, Iconos de Fontawesome, Googlefonts)</p>
      <a href="#" class="btn btn-primary button">Ver m치s</a>
    </div>
  </div>
</div>

<div class="col-4">
  <div class="card mb-3" style="width: 18rem;">
       <%=image_tag 'viaje.png'%>
      <div class="card-body">
        <h5 class="card-title">Viajes por Chile</h5>
        <p class="card-text">Avances en el desarrollo WEB (herramientas usadas en este proyecto bootstrap, CSS, Iconos de Fontawesome, Googlefonts)</p>
        <a href="#" class="btn btn-primary button">Ver m치s</a>
      </div>
  </div>
</div>
<div class="col-4">  
  <div class="card mb-3" style="width: 18rem;">
       <%=image_tag 'ricomida.png'%>
      <div class="card-body">
        <h5 class="card-title">Ricomida</h5>
        <p class="card-text">Avances en el desarrollo WEB (herramientas usadas en este proyecto bootstrap, CSS,)</p>
        <a href="#" class="btn btn-primary button">Ver m치s</a>
      </div>
  </div>
</div>

</div>
</div>